<aside class="sidebar">
    <div class="logo">Meus Jogos</div>

    <div class="menu-section">
        <div class="menu-title">Principal</div>
        <div class="menu-item" routerLink="/my-games" routerLinkActive="active">🎮 Minha Coleção</div>
        <div class="menu-item" routerLink="/wishlist" routerLinkActive="active">🤍 Lista de desejos</div>
    </div>

    <div class="menu-section">
        <div class="menu-title">Catálogo</div>
        <div class="menu-item" routerLink="/games" routerLinkActive="active">🕹️ Jogos</div>
        <div class="menu-item" routerLink="/companies" routerLinkActive="active">🏢 Empresas</div>
        <div class="menu-item" routerLink="/genres" routerLinkActive="active">🏷️ Gêneros</div>
        <div class="menu-item" routerLink="/themes" routerLinkActive="active">🔖 Temas</div>
        <div class="menu-item" routerLink="/platforms" routerLinkActive="active">⚙️ Plataformas</div>
        <div class="menu-item" routerLink="/sources" routerLinkActive="active">🔍 Origem</div>
    </div>

    <div class="menu-section">
        <div class="menu-title">Conta</div>
        <div class="menu-item" (click)="logout()">🚪 Sair</div>
    </div>
</aside>